h1 {
    font-size: 18pt;
    color: orange;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#demo{
    font-family:'Baskerville Old Face';
    font-size:14pt;
    color:chocolate;
}

.myClass1{
    font-size:30pt;
}

#intro .first em{
    color:hotpink;
    background-color:white;
}

.FontSize{
    font-size:1.25em;
}

fw.LightWeight{
    font-weight:lighter;
    font-variant:normal
}

fw.HeavyWeight{
    font-weight:bolder;
    font-variant:small-caps
}

